<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Hướng dẫn mua hàng</title>
  <th:block id="css-resources"></th:block>
</head>

<body>
<div th:fragment="standard_modal" class="modal fade text-center" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">Warning</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <span id="modalBody"></span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeModalBtn">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Thêm mã JavaScript -->
<script>
        document.getElementById("closeModalBtn").addEventListener("click", function() {
            location.reload();
        });
    </script>
</body>

</html>
