<th:block th:fragment="header">
    <header class="header bg-dark">
        <link rel="stylesheet" href="shop/css/style.min.css" type="text/css">
<!--        <link rel="stylesheet" th:href="@{/shop/css/style.min.css}" />-->
        <div class="announcement-bar-spp">
            <p class="vertical-scrolling-text">
                <a href="http://localhost:8082/san-pham"  class="text-white font1">[24.07 - 31.07] Lương về Deal cực mê - Giảm 15% cho đơn 999.000 VNĐ&gt;&gt; XEM NGAY</a>
                <a href="http://localhost:8082/san-pham"   class="text-white font1">[21.07 - 31.07] ƯU ĐÃI MÙA TỰU TRƯỜNG - Giảm 30% nhiều sản phẩm trẻ em  &gt;&gt; XEM NGAY</a>
                <a href="http://localhost:8082/san-pham"  class="text-white font1">[01.07 - 31.07] Tận Hưởng Cuộc Hành Trình - Giảm 40% tất cả sản phẩm Spartan &gt;&gt; XEM NGAY</a>
            </p>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="header-left col-lg-2 w-auto pl-0">
                    <button class="mobile-menu-toggler text-primary mr-2" type="button">
                        <i class="icon-menu"></i>
                    </button>
                    <a href="/" class="logo">
                        <img th:src="@{/shop/images/slider/zyro-image.png}"  alt="logo" >
                    </a>
                </div><!-- End .header-left -->

                <div class="header-right w-lg-max">
                    <div class="header-icon header-icon header-search header-search-inline header-search-category w-lg-max text-right">
                        <a href="#" class="search-toggle search-button" role="button"><i class="icon-search-3"></i></a>
                            <div class="header-search-wrapper">
                                <input class="form-control search-input"  placeholder="Nhập sản phẩm cần tìm kiếm..." required>
                                <button class="btn icon-search-3 p-0 search-button" type="submit"></button>
                            </div><!-- End .header-search-wrapper -->
                    </div><!-- End .header-search -->

                    <div class="header-contact d-none d-lg-flex pl-4 ml-3 mr-xl-5 pr-4">
                        <img alt="phone" th:src="@{/shop/images/icon-phone.png}" width="30" height="30" class="pb-1">
                        <h6 class="text-white font1">Hotline<a href="tel:#" class="text-white font1">0372241997</a></h6>
                    </div>

                    <a href="" data-toggle="modal" data-target="#exampleModal" class=".header-icon account-setting"  ><i class="icon-user-2" ></i></a>


                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header d-none d-lg-block bg-dark">
            <div class="container ">
                <nav class="main-nav w-100">
                    <ul class="menu">
                        <li ><a href="/" class="text-white font1">Trang chủ</a></li>
<!--                        <th:block th:each="brand : ${brands}">-->
<!--                            <li><a href="/" th:text="${brand.name}">Trang chủ</a></li>-->
<!--                        </th:block>-->
                        <li class="float-right mr-0"><a href="/lien-he"  class="text-white font1">Liên hệ</a></li>
                        <li class="float-right"><a href="/doi-hang" class="text-white font1">Chính sách</span></a></li>
                        <li class="float-right"><a href="/tin-tuc" class="text-white font1">Tin tức</a></li>
                        <li class="float-right"><a href="/san-pham" class="text-white font1">Sản phẩm</a></li>
                    </ul>
                </nav>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->
</th:block>
