<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<main class="main" id="main-content">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <div class="container products-body">
        <div class="row m-1">
            <div class="col-sm-8">
                <th:block th:each="item, status : ${cartItems}">
                    <div class="row border rounded" th:with="product = ${item.product}">
                        <div class="col-1">
                            <div> [[${status.count}]]</div>
                            <div>
                                <a class="icon-dark" th:href="@{/}">
                                    <i class="fas fa-trash"></i> Xóa
                                </a>
                            </div>
                        </div>

                        <div class="col-3">
                            <img th:src="@{${product.images[0]}}" class="img-fluid" />
                        </div>
                        <div class="col-6">
                            <div>
                                <a th:href="@{|/${product.name}/${product.id}|}" th:title="${product.name}" target="_blank">
                                    <b>[[${product.name}]]</b>
                                </a>

                            </div >
                            <div  th:replace="shop/quantity_control :: quantity_control(${item.quantity}, ${item.product.id})">Quantity</div>
                            <div>
                                <samp>X</samp>
                                <span>[[${product.price}]]</span>
                            </div>
                            <div>
                                <samp >=</samp>
                                <samp class="h4"> [Subtotal]</samp>

                            </div>
                        </div>
                    </div>
                    <div class="row m-1"> &nbsp;</div>
                </th:block>
            </div>

            <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
                <div class="mt-1">
                    <samp class="h3"> Estimated Total:</samp>
                </div>
                <div class="mt-1">
                    <samp class="h2"> [Total Amount]</samp>
                </div>
                <div>
                    <button class="btn btn-danger p-3 mt-2">Check out</button>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(cartItems)}">
            <h4>Không có sản phẩm nào trong giỏ hàng. Quay lại cửa hàng để tiếp tục mua sắm.</h4>
        </div>
    </div>
    <!-- End .container -->
</main>
<!-- End .main -->
</body>
</html>