<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}">
<head>

       <meta charset="UTF-8">
    <title>Thanh toán</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/shop/css/custom.css}">
    </th:block>

</head>
<body>
<main class="main" id="main-content">
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="checkout-payment">
                    <h3 class="step-title">Thông tin người nhận hàng</h3>
                    <form action="#" method="post">
                        <div class="form-group required-field">
                            <label>Tên người nhận </label>
                            <input type="text" class="form-control" th:value="${user_fullname}" name="receiver_name" id="receiver_name" required>
                            <div class="invalid-feedback"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group required-field">
                            <label>Số điện thoại </label>
                            <input type="text" class="form-control" th:value="${user_phone}" name="receiver_phone" id="receiver_phone">
                            <div class="invalid-feedback"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group required-field">
                            <label>Địa chỉ nhận hàng</label>
                            <input type="text" class="form-control" name="receiver_address" id="receiver_address" required>
                            <div class="invalid-feedback"></div>
                        </div><!-- End .form-group -->

                        <label>Chọn tỉnh thành</label>
                        <select  class="form-control" id="city">
                            <option value="" selected></option>
                        </select>

                        <label>Chọn quận huyện</label>
                        <select  class="form-control" id="district">
                            <option value="" selected></option>
                        </select>

                        <label>Chọn phường xã</label>
                        <select  class="form-control" id="ward">
                            <option value="" selected></option>
                        </select>

                        <div class="form-group required-field">
                            <label>Đường thôn </label>
                            <input type="text" class="form-control" name="duong_thon" id="duong_thon" required>
                            <div class="invalid-feedback"></div>
                        </div><!-- End .form-group -->

                        <!-- Thêm cấp tỉnh, huyện, phường/xã theo yêu cầu -->
                        <div class="form-group">
                            <label>Ghi chú </label>
                            <textarea type="text" class="form-control" id="note"></textarea>
                        </div><!-- End .form-group -->

<!--                        <a th:href="@{/cart}">-->
<!--                            <button class="btn btn-secondary confirm-btn">Quay lại</button>-->
<!--                        </a>-->
                        <button type="button" class="btn btn-primary confirm-btn red-btn" id="btn-buy-now" th:style="${notFoundSize} ? 'display:none': ''">ĐẶT HÀNG</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <h3 class="step-title">Phương thức thanh toán</h3>
                <section class="section">
                    <div class="section__header">
                        <div class="layout-flex">
                            <h3 class="section__title layout-flex__item layout-flex__item--stretch">
                                <i class="fa fa-credit-card fa-lg section__title--icon hide-on-desktop"></i>
                                Thanh toán
                            </h3>
                        </div>
                    </div>
                    <div class="section__content">

                        <div class="content-box" data-define="{paymentMethod: undefined}">


                            <div class="content-box__row">
                                <div class="radio-wrapper">
                                    <div class="radio__input">
                                        <input name="paymentMethod" id="paymentMethod-412668" type="radio" class="input-radio" data-bind="paymentMethod" value="412668">
                                    </div>
                                    <label for="paymentMethod-412668" class="radio__label">
                                        <button type="button" class="round-button" onclick="toggleInfo('cod-info')">Thanh toán khi giao hàng (COD)</button>
<!--                                        <span class="radio__label__primary">Thanh toán khi giao hàng (COD)</span>-->
                                        <span class="radio__label__accessory">
															<span class="radio__label__icon">
																<i class="payment-icon payment-icon--4"></i>
															</span>
														</span>
                                    </label>
                                </div>

                                <div id="cod-info"  class="content-box__row__desc hide" data-bind-show="paymentMethod == 412668">

                                    <p>Bạn chỉ phải thanh toán khi nhận được hàng.</p>

                                </div>

                            </div>

                            <div class="content-box__row">
                                <div class="radio-wrapper">
                                    <div class="radio__input">
                                        <input name="paymentMethod" id="paymentMethod-412237" type="radio" class="input-radio" data-bind="paymentMethod" value="412237">
                                    </div>
                                    <label for="paymentMethod-412237" class="radio__label">
                                        <button type="button" class="round-button" onclick="toggleInfo('bank-info')">Chuyển khoản qua ngân hàng</button>
<!--                                        <span >Chuyển khoản qua ngân hàng</span>-->
                                        <span class="radio__label__accessory">
															<span class="radio__label__icon">
																<i class="payment-icon payment-icon--5"></i>
															</span>
														</span>
                                    </label>
                                </div>

                                <div id="bank-info" class="content-box__row__desc" data-bind-show="paymentMethod == 412237">
                                    <p>Tài khoản MBank chi nhánh Hà Nội
                                    </p> <p>- Chủ tài khoản: LE HUU THANH
                                </p> <p>- STK: 99999999999999
                                </p> <br> <p>Nội dung chuyển khoản: Số điện thoại trong đơn hàng</p>

                                </div>

                            </div>

                        </div>
                    </div>
                </section>
            </div>
            <aside class="col-lg-4 sidebar">
                <h3 class="step-title">Đơn hàng ([[${sizeProduct}]] sản phẩm)</h3>
                <div class="order-summary">
                    <div class="collapse show" id="order-cart-section">
                        <table class="table table-mini-cart">
                            <tbody>
                            <th:block th:each="item, status : ${orders}">
                                <tr class="product-row-10" th:attr="data-order-id=${item.id}">
                                    <td style="width: 25%">
                                        <img th:src="@{${item.product.images[0]}}" th:alt="${item.product.name}" style="width:75px; height:75px; padding-right:10px">
                                    </td>
                                    <td style="width: 73%">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="lable-td">
                                                        <Strong>Sản Phẩm:</Strong>
                                                    </td>
                                                    <td>
                                                        [[${item.product.name}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lable-td">
                                                        <Strong>Size:</Strong>
                                                    </td>
                                                    <td>
                                                        [[${item.size}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lable-td">
                                                        <Strong>Số lượng:</Strong>
                                                    </td>
                                                    <td>
                                                        [[${item.quantity}]]
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </th:block>
                            <tr>
                                <td>
                                    <strong class="total-label">Tổng thanh toán:</strong>
                                </td>
                                <td class="total-price">
                                    <span class="total-price-value" style="color: #00BFFF; font-weight: bold; position: absolute; right: 50px;">
                                        <th:block th:with="formattedTotalPrice=${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}">
                                            <span th:text="${formattedTotalPrice}"></span> đ
                                        </th:block>
                                    </span>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>



        </div>
    </div>
    <!-- Add your JavaScript scripts here -->
    </body>
    <!-- Modals-->
    <th:block th:replace="~{fragment/size_choose_modal :: size-choose-modal}"></th:block>
</main><!-- End .main -->

<th:block id="js-resources">
    <script>
    const citySelect = document.getElementById('city');
    const districtSelect = document.getElementById('district');
    const wardSelect = document.getElementById('ward');
    const addressTextarea = document.getElementById('receiver_address');

    // Sự kiện khi chọn tỉnh thành
    citySelect.addEventListener('change', updateAddress);

    // Sự kiện khi chọn quận huyện
    districtSelect.addEventListener('change', updateAddress);

    // Sự kiện khi chọn phường xã
    wardSelect.addEventListener('change', updateAddress);

    // Hàm cập nhật địa chỉ dựa trên giá trị các select
    function updateAddress() {
        const city = citySelect.options[citySelect.selectedIndex].text;
        const district = districtSelect.options[districtSelect.selectedIndex].text;
        const ward = wardSelect.options[wardSelect.selectedIndex].text;

        addressTextarea.value = city + ' - ' + district + ' - ' + ward;
    }
    </script>
    <script th:src="@{/shop/js/size-choose.js}"></script>
    <script th:src="@{/shop/js/shopping_cart.js}"></script>
    <script th:inline="javascript">
        function toggleInfo(infoId) {
            var info = document.getElementById(infoId);
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        }


    </script>
    <script>
    function toggleInfo(infoId) {
        var info = document.getElementById(infoId);
        var otherInfos = document.getElementsByClassName("info-content");

        for (var i = 0; i < otherInfos.length; i++) {
            if (otherInfos[i].id !== infoId) {
                otherInfos[i].style.display = "none";
            }
        }

        if (info.style.display === "none") {
            info.style.display = "block";
        } else {
            info.style.display = "none";
        }
    }
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
	var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
      url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
      method: "GET",
      responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
      renderCity(result.data);
    });

    function renderCity(data) {
      for (const x of data) {
        citis.options[citis.options.length] = new Option(x.Name, x.Id);
      }
      citis.onchange = function () {
        district.length = 1;
        ward.length = 1;
        if(this.value != ""){
          const result = data.filter(n => n.Id === this.value);

          for (const k of result[0].Districts) {
            district.options[district.options.length] = new Option(k.Name, k.Id);
          }
        }
      };
      district.onchange = function () {
        ward.length = 1;
        const dataCity = data.filter((n) => n.Id === citis.value);
        if (this.value != "") {
          const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

          for (const w of dataWards) {
            wards.options[wards.options.length] = new Option(w.Name, w.Id);
          }
        }
      };
    }
	</script>
</th:block>
</body>
</html>